<div class="messages">
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="notification is-{{ type }}">
                <button class="delete"></button>
                {{ message|striptags('<a><p><em><strong>')|raw }}
            </div>
        {% endfor %}
    {% endfor %}
</div>