{% extends 'base.html.twig' %}

{% block body_id 'front' %}

{% block hero %}
    <section class="hero is-large is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    This is a bold title
                </h1>
                <h2 class="subtitle">
                    And this is a subtitle
                </h2>
            </div>
        </div>
    </section>
{% endblock %}

{% block main %}
    <div class="content">
        <h1 class="title">Title</h1>
        <p>Lipsum</p>
    </div>
{% endblock %}